.header {
  background-color: #ffffffac;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid var(--primary200);
  padding: 28px 0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.elements_wrapper {
  width: 100%;
  max-width: 1296px;
  position: relative;
  margin: 0 auto;
}

.elements_wrapper img {
  position: absolute;
  top: -3.5px;
}

@media (max-width: 768px) {
  .header {
    padding: 11.5px 12px;
  }

  .elements_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .elements_wrapper img {
    position: static;
  }
}
