.link {
  align-self: center;
  background-color: var(--black);
  border-radius: 5px;
  display: flex;
  gap: 8px;
  color: var(--white);
  font-size: var(--xs);
  font-weight: var(--bolder);
  line-height: 30px;
  text-wrap: nowrap;
  padding: 16px 32px;
}

.link img {
  transition: all 0.3s ease-in-out;
}

.link:hover img {
  transform: translateX(10px) scale(1.2);
}

@media (max-width: 576px) {
  .link {
    font-size: var(--xxs);
    padding: 8px 16px;
  }
}
