.heading_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: var(--l);
  font-weight: var(--bold);
  text-wrap: nowrap;
  letter-spacing: 0.12em;
  line-height: 38.4px;
  padding: 0 16px;
}

@media (max-width: 576px) {
  .heading {
    font-size: var(--s);
    font-weight: var(--bolder);
    line-height: 28.8px;
  }
}
