.heading_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.srcImage1 {
  content: url("/image/deco/title-deco-left-lg.webp");
}

.srcImage2 {
  content: url("/image/deco/title-deco-right-lg.webp");
}

.heading {
  color: #3b3b3b;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: 38.4px;
  padding: 0 16px;
}

@media (max-width: 576px) {
  .srcImage1 {
    content: url("/image/deco/title-deco-left-sm.webp");
  }

  .srcImage2 {
    content: url("/image/deco/title-deco-right-sm.webp");
  }

  .heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
  }
}
