.img_wrapper {
  border: 1px solid var(--primary200);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 16px;
}

.img_wrapper img {
  display: block;
  transition: all 0.3s ease-in-out;
}

.card:hover img {
  transform: scale(1.1);
}

.content_wrapper h3 {
  color: var(--primary700);
  font-size: var(--xs);
  font-weight: var(--bolder);
  margin-bottom: 16px;
}

.time_and_category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time_and_category ul {
  display: flex;
  gap: 16px;
}

.time_and_category ul li {
  background-color: var(--primary200);
  border-radius: 16px;
  min-width: fit-content;
  padding: 4px 12px;
}

.time_and_category time {
  color: var(--primary600);
  font-size: var(--xxs);
  font-weight: var(--normal);
}

@media (max-width: 992px) {
  .img_wrapper img {
    width: 100%;
  }

  .time_and_category ul {
    gap: 8px;
  }
}
