.card {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/service-item-bg.png?raw=true");
  background-size: cover;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 306px;
  height: 306px;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.heading {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }

  .heading {
    font-size: 24px;
    line-height: 36px;
  }
}
