.container {
  display: none;
}

@media (max-width: 768px) {
  .container {
    background-color: var(--primary100);
    display: block;
    overflow-x: auto;
    padding: 20px 12px;
    scrollbar-width: none;
    position: sticky;
    top: 68px;
  }

  .container ul {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 521px;
  }

  .container ul li {
    padding: 0 12px 4px;
  }

  .container ul li:first-child {
    border-bottom: 1px solid var(--primary800);
  }

  .container ul li:hover {
    border-bottom: 1px solid var(--primary800);
  }

  .container ul li a {
    color: var(--primary800);
    font-size: var(--xxs);
    font-weight: var(--normal);
    line-height: 24px;
    text-wrap: nowrap;
  }
}
