.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  padding: 120px 0;
}

.card_wrapper {
  max-width: 1296px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 80px;
}

.pagination {
  display: flex;
  gap: 16px;
}

.pagination li {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}

.pagination li:first-child {
  background-color: #1e1e1e;
}

.pagination li:first-child a {
  color: #fff;
}

.pagination li:hover {
  background-color: #1e1e1e;
}

.pagination li a {
  color: #3b3b3b;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  transition: all 0.3s ease-in-out;
}

.pagination li:hover a {
  color: #fff;
}

@media (max-width: 576px) {
  .container {
    gap: 48px;
    padding: 80px 12px;
  }

  .card_wrapper {
    row-gap: 48px;
  }
}
