.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 120px 12px;
}

.faq_wrapper {
  width: 100%;
  max-width: 1076px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.faq_card {
  border: 1px solid var(--primary300);
  border-radius: 8px;
  width: 526px;
  padding: 24px;
}

.faq_card h3 {
  color: var(--primary700);
  font-size: var(--s);
  font-weight: var(--bolder);
  line-height: 28.8px;
  margin-bottom: 16px;
}

.faq_card p {
  color: var(--primary600);
  font-size: var(--xs);
  font-weight: var(--normal);
  line-height: 30px;
}

@media (max-width: 576px) {
  .container {
    gap: 40px;
    padding: 80px 20px;
  }

  .faq_card h3 {
    font-size: var(--xs);
  }

  .faq_card p {
    font-size: var(--xxs);
  }
}
