.container {
  display: flex;
  justify-content: center;
  gap: 134px;
  padding: 120px 0 80px;
}

.container article {
  width: 856px;
}

@media (max-width: 576px) {
  .container {
    padding: 32px 12px 40px;
  }

  .container article {
    width: 100%;
  }
}
