.container {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 120px 12px 80px;
}

.container article {
  width: 100%;
  max-width: 856px;
}

@media (max-width: 768px) {
  .container {
    padding: 32px 12px 40px;
  }
}
