.mobile_nav {
  border: none;
  background: none;
  display: none;
}

@media (max-width: 768px) {
  .mobile_nav {
    display: block;
  }

  .mobile_nav img {
    width: 40px;
  }

  .lists_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .mobile_dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .close_btn {
    border: none;
    background: none;
    position: absolute;
    top: 11.5px;
    right: 12px;
    padding: 0;
    cursor: pointer;
  }

  .close_btn img {
    width: 40px;
  }

  .logo_link {
    position: absolute;
    top: 11.5px;
    left: 12px;
  }
}
